@import "common.less";

@tab-box-width:			1005px;
@tab-box-height:		175px;
@tab-width:				140px;
@tab-height:			32px;
.tab-box{
	.border-radius(0.5em,0.5em);
	width:@tab-box-width;
	height:@tab-box-height;
	border:solid 1px #bfc4ca;
	.box-shadow(1px,1px,1px,#CAC9D3);
}

/**
.tab{
	list-style:none;
	float:left;
	line-height:@tab-height;
	width:@tab-width;
	height:@tab-height;
	border: solid 1px #999; 
	border-bottom: none; 
	.border-radius(4px,4px);
}
*/

.etabs { margin: 0; padding: 0; }
.tab {display: inline-block;
	width:@tab-width;
  	height:32px;
  	line-height:@tab-height;
	background: #eee; 
	border: solid 1px #999; 
	border-bottom: none;  }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.panel-container { 
	background: #fff; 
	border: solid #666 1px;
	line-height:140px;
 }
